<div>
  <div class="card-header">
    Add New Order
  </div>
  <!-- (ngSubmit)='onSubmit()' [formGroup]="addProductForm" -->
  <div class="card-body">
    <form>

      <div class="form-group">
        <label for="customer">Select Customer</label>
        <ng-select formControlName="Customer">
          <ng-option *ngFor="let customer of customers" [value]="customer.id">{{customer.name}}</ng-option>
        </ng-select>

      </div>
      <div class="form-group">
        <label for="Product">Select Product</label>
        <ng-select  formControlName="Product">
          <ng-option *ngFor="let product of products" [value]="product.id">{{product.name}}</ng-option>
        </ng-select>

      </div>

      <div class="form-group">
        <label for="description">Description</label>

        <textarea id="description" type="text" class="form-control" formControlName="Description"
          placeholder="e.g. Leather Jacket" required>

    </textarea>

      </div>

      <div class="form-row">
        <div class="form-group" col-6>
          <label for="quantity">Total Price</label>
          <input min="1" value="1" type="number" class="form-control" formControlName="Quantity">

        </div>

        <div class="form-group" col-6>
          <label for="price">Deposit Amount</label>
          <input min="1" value="1" type="number" class="form-control" formControlName="Price">

        </div>


      </div>


      <div class="form-group">
        <button type="submit" class="btn btn-primary mr-2">Save</button>
        <button type="reset" class="btn btn-primary">Cancel</button>
      </div>
    </form>

  </div>


</div>
